SELECT * FROM pedidos WHERE id = 'df4845ba-7a9d-4192-b431-4e2943ee6a23'; SELECT constraint_name, table_name, column_name, foreign_table_name, foreign_column_name FROM information_schema.key_column_usage WHERE table_name = 'pedidos' AND column_name = 'disciplina_id';
